<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>793314480218-fpg49psq81ejvd2br92s04hd46dv2o35.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEmq_cAowrxRbOQ1ti4pQBK_yEum7AF-w</string>
	<key>GCM_SENDER_ID</key>
	<string>793314480218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virtualWalletWeb</string>
	<key>PROJECT_ID</key>
	<string>my-virtual-wallet-5f4d7</string>
	<key>STORAGE_BUCKET</key>
	<string>my-virtual-wallet-5f4d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793314480218:ios:3d09c3e887ef84158c8863</string>
	<key>DATABASE_URL</key>
	<string>https://my-virtual-wallet-5f4d7-default-rtdb.firebaseio.com</string>
</dict>
</plist>